*{
    margin: 0;
    padding: 0;
}
body{
    background: #eeeeee;
    height: 2000px;
}
ul{
    list-style: none;
}
.container{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
#head{
    /*overflow: hidden;*/
    background: #fff;
}
.header{
    height: 80px;
}
#head h2{
    width: 80px;
    height: 80px;
    font-size: 16px;
    float: right;
    margin-top:25px;
    margin-right:25px;
}
#head img{
    width: 80px;
    height: 80px;
    float: left;
}
#head  .iconfont{
    font-size: 26px;
    position: absolute;
    right: 7px;
    top: 5px;

}
#logo{
    width: 200px;
    height: 80px;
    float: left;
}
#list{

}
#list a{
    display: block;
    float: left;
    margin-left:70px;
    margin-top:25px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
#list a:hover{
    color: #ff6700;
}
#select{
    float: right;
    margin-top:18px;
    position: relative;
}
#select .search-text{
    width: 200px;
    height: 40px;
    border: 1px solid #e0e0e0;
    border-right: none;
    float: left;
    padding-left:10px;
}
#select .search-btn{
    width: 40px;
    height: 40px;
    border:1px solid #e0e0e0;
    float: left;
}
#select .search-btn:hover{
    background: #ff6700;
    cursor: pointer;
}
#info{
    height: 200px;
    margin-top:20px;
    background-color: #ffffff;
    position: relative;
}
#info .restaurant{
    overflow: hidden;
    float: left;
}
#info img{
    width: 200px;
    height: 150px;
    float: left;
    margin-top:20px;
}

#info h1{
    width: 220px;
    margin-top:20px;
    margin-left:20px;
    font-family: '宋体';
    font-size: 25px;
}
#info .restaurant{
    margin-left:10px;
    margin-top:10px;
}
#info .restaurant .time{
    overflow: hidden;
    font-size: 14px;
    margin-left:20px;
    margin-top:10px;
    position: relative;
}
#info .restaurant .time p{
    float: left;
}
#info .iconfont{
   float: left;
    margin-right:10px;
}
#info .restaurant .time span{
    margin-left:10px;
    float: left;
}
#info .restaurant .addr{
    overflow: hidden;
    font-size: 14px;
    margin-left:20px;
    margin-top:10px;
}
#info .restaurant .addr p{
    float: left;
}
#info .restaurant .addr span{
    margin-left:10px;
    float: left;
}

#info .restaurant .phone{
    margin-left:20px;
    overflow: hidden;
    font-size: 14px;
    margin-top:10px;
}
#info .restaurant .phone p{
    float: left;
}
#info .restaurant .phone span{
    margin-left:10px;
    float: left;
}
#info .price{
    overflow: hidden;
}
#info .price ul{
    overflow: hidden;
    float: right;
}
#info .price li{
    float: left;
    width: 100px;
    margin-right:10px;
}
#info .price p{
    margin-top:50px;
    font-size: 12px;
    color: #6a6a6a;
}
#info .price span{
    display: block;
    margin-top:20px;
    font-size: 28px;
    font-weight: 900;
    color: #4a4a4a;
}
.new{
    width: 693px;
    margin-top:15px;
    background-color: #fff;

}
.new .no-line{
    border-right: none;
}
.new .title{
    border-bottom: 1px solid #e5e5e5;
    color: #333333;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    padding-left:18px;
    padding-top:12px;
}
.new ul{
    overflow: hidden;
}
.new li{
    width: 230px;
    float: left;
    margin-top:10px;
    border-top:1px solid #e5e5e5;
    border-right: 1px dashed #ccc;
}
.new li .img-box img{
    width: 170px;
    height: 120px;
}
.new li .img-box{
    width: 170px;
    margin: 20px auto 0;
}
.new li .name{
    margin:0px auto 0;
    width: 170px;
}
.new li .name p{
    display: block;
    width: 150px;
    bottom: 0;
    padding: 10px;
    color: #333;
    font-size: 13px;
    font-weight: 700;
}
.new li .good{
    display: block;
    height: 16px;
    width: 30px;
    font-size: 12px;
    color: #999;
    margin-left:32px;
}
.new li .sale{
    width: 170px;
    margin:10px auto 0;
    overflow: hidden;
}
.new li .price{
    font-size: 14px;
    color: #ff5a5a;
    font-weight: 700;
    float: left;
}
.new li a{
    text-decoration: none;
}
.new li .buying{
    display: block;
    width: 80px;
    height: 20px;
    margin-left:20px;
    text-align: center;
    line-height: 20px;
    background-color: #4e4e4e;
    color: #ffff00;
    float: left;
    font-size: 14px;
}
.new li .add{
    width: 18px;
    height: 18px;
    line-height: 15px;
    display: block;
    text-align: center;
    border-radius: 50%;
    background: #ffff00;
    float: right;
}
#main{
    margin-top: 20px;

}